@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

* ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.calculator {
    margin: 25px;
    height: 60vh;
    min-width: 500px;
    max-width: 500px;
}

.display {
    grid-column: 1/-1;
    min-height: 35%;
    max-height: min-content;
    background-color: rgba(103, 0, 199, 0.215);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    color: aliceblue;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    font-weight: bold;
}

.current-number {
    color: aliceblue;
    font-size: 35px;   
}

.previous-number {
    color: rgba(240, 248, 255, 0.477);
    font-size: 20px;
}

.math-sign {
    color: rgba(240, 248, 255, 0.477);
    font-size: 22px;
}

/* .result {
    color: rgba(240, 248, 255, 0.477);
    font-size: 20px;
} */

.panel {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1 fr);
    gap: 2px;
}

.panel button {
    font-size: 25px;
    background-color: rgb(103, 0, 199);
    color: aliceblue;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: rgba(103, 0, 199, 0.215);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.equals {
    grid-row: 6/4;
    grid-column: -2/-1;
}

.calculator-history {
    height: 60vh;
    margin: 20px;
    width: 150px;
    background-color: rgb(103, 0, 199);
    color: aliceblue;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

.history {
    list-style: none;
}

.history-title {
    padding-bottom: 10px;
}

.history-btn {
    color: aliceblue;
    background-color: blueviolet;
    border: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: none;
    outline: none;
    margin: 5px auto;
}

.history-btn.active {
    display: block;  
}

.history-item {
    margin: 8px 0px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(103, 0, 199);
}

/* #modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px; */
/*    z-index:10000;
/*    background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
/* } */